
/** segue il messaggio redatto dopo il completamento dell'esercizio**/

/**Giuro su tutto quello che c'è di buono in questo mondo che se dovrò 
fare un altro esercizio così complesso usando solo il float
commetterò degli atti inconsueti...**/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 9999;
}
nav div{
    display: inline-block;
}
div.logo{
    float: left;
}
img.logo{
    margin: 15px 30px 15px 15px;
    padding: 5px;
}
ul li{
    display: inline-block;
    margin: 15px 30px 15px 0;
    padding: 5px;
    line-height: 30px;
}
ul li a{
    color: black;
    text-decoration: none;
    font-size: 16px;
}
ul li a:hover{
    text-decoration: underline;
}

div.rightfloat{
    float: right;
}
.button{
    color: white;
    background-color: #0061ff;
    padding: 8px 15px;
    text-decoration: none;
}
nav::after{
    content: "";
    display: table;
    clear: both;
}
main div.blu{
    position: relative;
    background-color: #b4d0e7;
    width: 100%;
    min-height: 850px;
    margin-bottom: 200px;
}
.titolo1{
    width: 80%;
    margin: 70px 150px 30px 150px; 
    text-align: justify;
    padding: 75px 0 0 0;
    font-size: 62px;
}
.paragrafetto{
    display: inline-block;
}
div p.jumbop{
    margin: 0 70% 25px 150px;
    font-size: 15px;
    line-height: 24px;
    display: inline-block;
}
.jumbotron{
    display: inline-block;
    position: absolute;
    top: 38%;
    left: 32%;
    transform: translate (-50% -50%);
}
.jumbotron img{
    width: 85%;
}
.basetable{
    width: 70%;
    margin: -15px 15% 50px 15%;
}
.titolo2 h1{
    font-size: 50px;
    font-weight: 600;
}
div.inline{
    display: inline-block;
    margin: 40px 20px 30px 0;
}
div.leftfloat{
    float: left;
    min-height: 1150px;
    width: 30%;
    margin-right: 5%;
    border: gray 1px solid;
}
div.leftfloat:last-child{
    margin-right: 0px;
}
div.basetable::after{
    content: "";
    display: table;
    clear: both;
}
.slcruolo{
    text-align: center;
    padding: 10px 0;
    border-bottom: gray 1px solid;
}
.slcruolo span{
    font-size: 18px;
}
div.descruolo{
    padding: 10%;
}
div.descruolo h3{
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 15px;
}
div.descruolo p{
    line-height: 24px;
    margin-bottom: 15px;
}
.margin2{
    margin-bottom: 40px !important;
}
p.prezzo{
    font-weight: 700;
    font-size: 20px;
}
p a.button{
   width: 100%;
   display: block;
   text-align: center;
}
.schiarito{
    color: #abb3bb;
}
p span{
    border-bottom: #abb3bb solid 1px;
}
div.descruolo h4{
    margin-bottom: 25px;
}
.bastafloat{
    position: relative;
    float: left;
    width: 100%;
    border: gray 1px solid;
}
div.descruolo2{
    padding: 15px 30px;
}

.descruolo2 h3{
    margin-top: 15px;
    font-weight: 800;
    font-size: 30px;
    margin-bottom: 5px;
}
.button2{
    color: white;
    background-color: #0061ff;
    padding: 8px 15px;
    text-decoration: none;
    position: absolute;
    top: 70px;
    right: 70px;
}
.margin3{
    margin-bottom: 20px;
}
.bastafloat2{
    margin-top: 100px;
    position: relative;
    float: left;
    width: 50%;
}
.bastafloat2 img{
    width: 100%;
}
.bastafloat2 h2, .bastafloat2 p, .bastafloat2 a{
    padding: 40px 0px 0px 40px;
}
.bastafloat2 h2{
    font-size: 35px;
}
.bastafloat2 p{
    line-height: 30px;
}
.bastafloat2 a{
    color: black;
    background-color: white;
    padding: 8px 15px;
    text-decoration: none;
    border: black solid 1px;
}
.titolo3{
    margin-top: 80px;
    font-size: 40px;
    font-weight: 800px;
}
.bastafloat3{
    float: left;
    width: 30%;
    margin-right: 5%;
}
.fit{
    width: 100%;
}
.bastafloat3 h3{
    font-weight: 600px;
    font-size: 30px;
    margin-bottom: 20px;
}
.bastafloat3 p{
    line-height: 25px;
}
.nomargin{
    margin-right: 0px !important;
}
.contenitore{
    float: left;
    width: 100%;
}
.partner{
    float: left;
    width: 30%;
}
.sec1 div{
    float: left;
    width: 50%;
    height: 250px;
    background-color: black;
}
.sec1 div img{
    width: 60%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    filter: invert(100%);
}
.sec1 div:hover{
    border: 10px solid rgba(225, 225, 225, 0.4);
}

.sec2{
    background-color: #f5f5f5;
    padding: 50px 50px;
    float: left;
    width: 40%;
    height: 500px; 
    overflow-y:scroll;
}
.sec2 img{
    width: 200px;
    margin-bottom: 40px;
}
.sec2 img+hr{
    width: 30px;
    margin-bottom: 40px;
}
.sec1::after, .contenitore::after{
    content: "";
    display: table;
    clear: both;
}
#s1{
    background-color: #a2d39b;
}
#s2{
    background-color: #61082b;
}
#s3{
    background-color: #0093ce;
}
#s4{
    background-color: #ff1c1c;
}
#s5{
    background-color: #d5001f;
}
#s6{
    background-color: #b4d0e7;
}
#s7{
    background-color: #0d2481;
}
#s8{
    background-color: #ffd830;
}
.turchese{
    background-color: #b4d0e7;
}
.turchese h1{
    font-size: 30px;
    color: #61082b;
}
.separatore1{
    float: left;
    width: 50%;
    padding: 100px 280px;
}
.seperatore2{
    padding: 100px;
    float: right;
    width: 40%;
}
.separatore2 a{
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 10px 60px;
    background-color: white;
    margin-left: 120px;
}
.ennesimobutton{
    color: black;
    background-color: white;
    padding: 15px 115px;
    text-decoration: none;
}
.turchese::after{
    content: "";
    display: table;
    clear: both;
}
.faq{
    margin: 100px 15%;
    width: 70%;
}
.faq div h1{
    margin-bottom: 60px;
}
.faq div p{
    margin: 35px 0;
    font-weight: bold;
}
.hidden{
    display: none;
    font-weight: normal;
}
.on:hover>p{
    display: block;
}